.github/
.vscode/
coverage/
node_modules/*/*.md

# Ignore all node_modules initially
node_modules/**
# But DO include iconv-lite
!node_modules/iconv-lite/**
# ALSO include its dependency safer-buffer
!node_modules/safer-buffer/**

out/**/*.d.ts
out/**/*.js.map
out/*.d.ts
out/*.js.map
resources/demo.gif
src/
tests/
web/
.eslintrc.json
.gitignore
jest.config.js